/*Sessão Title*/

section.title{
    display: flex;
    justify-content: space-between;

    padding: 3rem;
}
.title__div{
    display: flex;
    flex-direction: row-reverse;
    padding: 2rem;
}
.title__profile{
    align-items: center;
    border-radius: 20rem;

    width: 250px;
}
.title__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
}
.title__bio{
    display: flex;
    padding: 2rem;
    font-weight: 700;
    font-size: 43px;
}
.title__subsection{
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    padding: 2rem;
    font-weight: 400;
}
.title__network{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.title__network__item{
    padding-left: 5rem;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .title{
        /* display: flex; */
        /* justify-content: space-between; */
        align-items: center;
        padding: 2rem;
    }
    .title__div{
        display: flex;
        padding: 32px;
        align-items: center;
    }
    .title__profile{
        align-items: center;
        padding: 0;
        width: 150px;
    }
}
@media (min-width: 425px) {
    
}