/*Contato*/

section.formcontato{
    display: flex;
    background-color: var(--cor-azul10);
    padding: 4rem 1rem 4rem 0;
}
.formcontato__contacto{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    align-items: center;
    gap: 2px;
}
.formcontato__img{
    align-items: center;
    border-radius: 50px;
}
.formcontato--esquerda{
    width: 464px;
    height: 593px;
    padding-left: 3rem;
}
.formcontato__text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    word-wrap: normal;
    padding: 5rem;
}
.formcontato__title{
    font-weight: 700;
    font-family: 'Releway';
    font-size: 25px;
    font-style: normal;
    line-height: 31px;
  
}
.formcontato__subtext{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 1rem;

}
.formcontato__form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 20px;
    
}
.formcontato__input{
    border-radius: 5px;
    border: 2px solid;
    background: var(--cor-imput);
}
.formcontato__botao{
    align-items: center;
    width: 130px;
}
@media (min-width: 768px) {
    
}
@media (min-width: 425px) {
    
}